doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='/javascripts/jquery-3.0.0.min.js')

    body.none.fill(style='background-image: url(../assets/pictures/circuit.png);')#body
        div.f-center(style='width:100%')
          .topnav
            div.f-center.heading(style='width:100%')
              h2 FRC Scouting
            div.f-left(style='width:5%;')
              p.grid-width=('')
            a(href='/') Home
            a(href='/scouting/MatchSchedule') Match Schedule
            a.active(href='/scouting/hangRank') Ranking
            a(href='/scouting/opponents?teamNumber=188') Opponents of 188
        
        div.spacing
        div.f-center.page.mdc-card.margin-v-b.padding-b(style='width:60%')
            h1=title
        div.f-left(style='width:20%;')
            p.grid-width=('')
        div.f-left.page.mdc-card.margin-v-b.padding-b(style='width: 60%')
            div
                each title, i in columns
                        p.grid-width.f-left.center(style='background: #4CAF50')=title
                    
                .clear
                each team, index in teams
                    .no-decor.grid-height
                        each val, field in team
                            if (field === 'teamNumber')
                                a.no-decor.f-left.center.grid-item.matchNum(href='/scouting/viewTeam?teamNumber=' + val)=val+''
                            if (field != 'teamNumber')
                                p.grid-item.f-left.center(style='background: #F44336')=val+' '
                .clear

        .clear

        style(type='text/css').
            .matchNum{
                color: black;
            }
            .red{
                background: #FF5252;
                color: white;
            }
            .blue{
                background: #448aff;
                color: white;
            }
            .grid-width{
                width: 32%;
            }
            .grid-height{
                height: 40px;
            }
            .grid-item{
                width: 32%;
                height: 40px;
            }
            a{
                background-color: #dddddd;
                border: black;
                height: 100px;
                width: 150px;
                padding: 3px;
                display: inline;
                font-size: 16px;
                cursor: pointer;
            }
            p {
                width:150px;
                padding:3px;
                font-size: 16px;
            }

script(src='scripts/material-components-web.js')
        script.
            mdc.autoInit()
